{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
    <div class="row"> <!--la fila-->

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!--columna izquierda-->
            <h1>Registrar Proveedor</h1>
            <div class="card"><!--Tarjeta-->
              <div class="card-body">
                <form action="/registrarProveedor/" method="POST">{% csrf_token %}<!--Formulario-->
                  <div class="form-group">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                    placeholder="Nombre del Proveedor" minLength="1" maxLength="200" required>
                  </div>

                  <div class="form-group py-3">
                    <input type="text" id="txttelefono" name="txttelefono" class="form-control"
                    placeholder="Teléfono" minLength="1" maxLength="10" required>
                  </div>

                  <div class="form-group py-3">
                    <input type="email" id="txtemail" name="txtemail" class="form-control"
                    placeholder="Email" required>
                  </div>

                  <div class="form-group py-2">
                    <textarea id="txtdireccion" name="txtdireccion" class="form-control"
                    placeholder="Dirección" rows="3" required></textarea>
                  </div>

                  <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                </form><!--Formulario-->
              </div>
            </div><!--Tarjeta-->
        </div><!--columna izquierda-->

        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--columna derecha-->
            <h1>Listado de Proveedores</h1>
            <img class="w-50" src="{% static 'img/proveedores.jpg' %}" alt="Logo de proveedores" width="400" height="400">
            <div class="table-responsive"><!--tabla responsiva-->
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Email</th>
                        <th scope="col">Dirección</th>
                        <th colspan="2">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for p in misproveedores %}
                      <tr>
                        <td>
                          {{ p.id_proveedor }}
                        </td>
                        <td>
                          {{ p.Nombre }}
                        </td>
                        <td>
                          {{ p.Telefono }}
                        </td>
                        <td>
                          {{ p.Email }}
                        </td>
                        <td>
                          {{ p.Direccion }}
                        </td>
                        <td>
                          <a href="seleccionarProveedor/{{ p.id_proveedor }}" class="btn btn-info">Editar</a> <!--link de editar-->
                        </td>
                        <td>
                          <a href="borrarProveedor/{{ p.id_proveedor }}" class="btn btn-danger">Borrar</a> <!--link de borrar-->
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div><!--tabla responsiva-->

        </div><!--columna derecha-->

    </div> <!--la fila-->
{% endblock %}
